//
//** Body
// Page body container

//== General Mode

.f-body {
	// overflow: hidden;
	overflow: inherit;

	.f-content {
		padding: array-get($f-config-base, body, content, padding, desktop, y) array-get($f-config-base, body, content, padding, desktop, x);
	}

	//== Fix fluid flex box item hor overflow issue
	.f-wrapper {
		width: 100%;
	}

	.with-subheader-filters & .f-content {
		padding: array-get($f-config-base, body, content, padding, desktop-with-filters, y) array-get($f-config-base, body, content, padding, desktop-with-filters, x);
	}
}

//== Desktop Mode
@include desktop {
}

// Tablet & Mobile Mode
@include tablet-and-mobile {
	.f-body {
		// body content
		.f-content {
			padding: array-get($f-config-base, body, content, padding, mobile, y) array-get($f-config-base, body, content, padding, mobile, x);
		}

		.with-subheader-filters & .f-content {
			padding: array-get($f-config-base, body, content, padding, mobile-with-filters, y) array-get($f-config-base, body, content, padding, mobile-with-filters, x);
		}

	}
}
