//
//** Base Settings
//

$f-config-base: (
  //== Loader
  loader: (
    self:(
      bg-Color: #fff,
      zindex: 1000
    ),
    animation: (
      speed: 1.2s,
      delay: 1s
    ),
    spinner: (
      bg-Color: #eee,
      size: 30px,
    )
  ),

  //== Page
  page: (
    container: (
      padding: (
        wide: (
          x: (
            desktop: 30px,
            mobile: 20px
          )
        ),
        fluid: (
          x: (
            desktop: 80px,
            mobile: 20px
          )
        )
      )
    )
  ),

  //== Body
  body: (
    wrapper: (
      shadow: -27px 1px 94px -30px rgba(233,228,240,0.63),
      space: 40px
    )
    //== Content
    content: (
      //== Content padding for general
      padding: (
        desktop: (
          x: 0,
          y: 15px
        ),
        mobile: (
          x: 0,
          y: 10px
        ),
        desktop-with-filters: (
          x: 0,
          y: 100px
        ),
        mobile-with-filters: (
          x: 0,
          y: 90px
        )
      )
    )
  )
);
