@import '../../../../sass/main.scss';

button {
  background-color: map-get($f--colors, button, bg, no-hover);
  color: map-get($f--colors, button, text, no-hover);
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
  transition: background-color 0.3s;
  margin: 20px;
  &:hover {
    background-color: map-get($f--colors, button, bg, hover);
  }
}

.container_body {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 20px;
  border: 1px solid map-get($f--colors, card, detail, border, normal);
  border-radius: 10px;
  box-shadow: map-get($f--colors, card, detal, shadow);
  padding: 20px;
  background-color: map-get($f--colors, card, detail, bg, no-hover);;
}

.image {
  flex: 1;
  max-width: 30%;
  img {
    width: 100%;
    height: auto;
    max-width: 100%;
    border-radius: 10px;
  }
}

.body {
  flex: 1;
  max-width: 50%;
  padding: 20px;
  h2 {
    font-size: 24px;
    margin: 0;
    color: map-get($f--colors, card, detal, text, title);
  }
  h4 {
    font-size: 18px;
    margin: 0;
    color: map-get($f--colors, card, detal, text, detail);
  }
}

.body_genre{
  background-color: map-get($f--colors, tag, bg, no-hover);
  color: map-get($f--colors, tag, text, no-hover);
  padding: 5px 10px;
  text-align: right;
  font-size: 0.87rem;
  width: fit-content;
  border-radius: 10px;
  margin: 10px 0 !important;
}

@media (max-width: 768px) {
  .container_body {
    flex-direction: column;

  }
  .image, .body {
    max-width: 100%;
  }
}
